<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Home</title>

    <!-- CSS da pasta public/styles -->
    <link rel="stylesheet" href="/styles/site.css" />
</head>

<body>

    <h1 id="titulo">Carregando...</h1>

    <!-- JS da pasta public/scripts -->
    <script src="/scripts/site.js"></script>

</body>

</html>
